@model AppFinanzas.Models.ConfiguracionUsuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Configuracion de Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label">Nombre</label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimiteGasto" class="control-label">Limite de Gasto</label>
                <input asp-for="LimiteGasto" class="form-control" />
                <span asp-validation-for="LimiteGasto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" for="NotificacionActiva">
                    Notificación Activa
                </label>
                <input class="form-check-input" asp-for="NotificacionActiva" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
