@{
    ViewData["Title"] = "Home Page";
}
<style>
    .cuadro-centrado {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh; /* ajusta la altura al 100% de la ventana del navegador */
    }
</style>
<div class="container-fluid cuadro-centrado">
    <h1 class="display-4">¡Te damos la Bienvenida @ViewData["Nombre"]!</h1>
</div>
