
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .cuadro-centrado {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* ajusta la altura al 100% de la ventana del navegador */
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/css/Vapor.css" />
</head>
<body>
    <div class="container-fluid cuadro-centrado">
        <div class="col-12 col-xl-4 col-md-6">
            <div class="card border-primary mb-3" style="max-width: 25rem;">
                <div class="card-header">
                    Registrate
                </div>
                <div class="card-body">
                    <form asp-controller="Inicio" asp-action="Registrarse" method="post">

                        <input class="form-control mb-3" type="text" placeholder="Nombre" required name="Nombre" />
                        <input class="form-control mb-3" type="text" placeholder="Correo" required name="Correo" />
                        <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="Contrasena" />
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-outline-success" type="submit">Registrate</button>
                        </div>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            </div>
                        }
                        ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion","Inicio")">Iniciar Sesion</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
